/* DashboardComponent's private CSS styles */
.card-body{
  justify-content: space-between;
  display: flex;
}
h2 {
  text-align: left;
}
h3{
  color: black;
}

.heroes-menu {
  padding: 0;
  margin: auto;
  max-width: 1600px;

  /* flexbox */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
}

a {
  background-color: #fffdfd;
  border-radius: 2px;
  padding: 1rem;
  font-size: 1.2rem;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  text-align: center;
  width: 100%;
  min-width: 70px;
  margin: .5rem auto;
  box-sizing: border-box;

  /* flexbox */
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

@media (min-width: 600px) { 
   a {
    width: 30%;
    box-sizing: content-box;
   
  }
 }

/* a:hover {
  background-color: black;
} */ 

#hero{
  background-color: burlywood;
  height: 80px;
  display: flex;
  align-items: center;
}